@import url('https://fonts.googleapis.com/css?family=Sen&display=swap');
* {
    margin: 0;
    padding: 0;
    z-index: 1;
}

.line-nav-top {
    width: 100%;
    height: 4px;
    background: linear-gradient(90deg, rgb(0, 174, 255), #7feff5);
}

nav {
    width: 100%;
    height: 70px;
    background-color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    position: relative;
}

nav li {
    position: relative;
}

nav p {
    font-weight: bold;
    padding: 6px 22px 0px 28px;
    cursor: pointer;
    font-size: 40px;
    font-family: 'sen', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-shadow: 14px rgba(0, 0, 0, 0.5);
}

nav p a {
    text-decoration: none;
    color: rgb(0, 174, 255);
}

nav p {
    float: left;
}

nav .left-navbar {
    float: left;
}

nav .left-navbar li {
    float: left;
    list-style: none;
    margin: 20px 0px 0px 0px;
}

nav .left-navbar li a {
    text-decoration: none;
    font-size: 17px;
    color: #4f4f4f;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0px 10px;
    padding: 12px 22px 12px;
    border-radius: 26px;
}

nav .left-navbar li a:hover {
    color: #fff;
    background-color: rgba(0, 174, 255, 0.441);
    border-radius: 26px;
    transition: 0.2s;
}

nav .right-navbar {
    float: right;
}

nav .right-navbar li {
    float: right;
    list-style: none;
    font-size: 14px;
    margin: 23px 12px 0px 10px;
}

nav .right-navbar li a {
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.5);
    text-decoration: none;
    font-family: sans-serif;
    color: #fff;
    padding: 10px 24px 10px 24px;
    background: orange;
    font-weight: 300;
    border-radius: 24px;
    font-weight: 600;
    transition: all .2s;
    border: 2px solid transparent;
}

nav .right-navbar li a:hover {
    transition: 0.s;
    background-color: #ffffff;
    border: 2px solid orange;
    color: black;
}

input[type="search"] {
    border: none;
    width: 45px;
    height: 45px;
    border-radius: 24px;
    margin-top: -16px;
    background-image: url(../img/search-icon.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-indent: 100px;
    cursor: pointer;
    background: orange;
}

input[type="search"]:focus {
    outline: none;
    width: 220px;
    background: none;
    border-bottom: 2px solid orange;
    border-radius: 0px;
    text-indent: 15px;
    transition: 0.4s;
    cursor: text;
}

.sous-menu {
    display: none;
}

nav li:hover .sous-menu {
    display: block;
    position: absolute;
}